.contact2-main-div {
  width: 100%px;
}

.contact2-main-div h1 {
  width: 100%;
  height: 80px;
  opacity: 10%;
  margin: 0 auto;
  font-size: 5rem;
  line-height: 150px;
  text-align: center;
}

.contact2-main-div h2 {
  width: 100%;
  height: 77px;
  margin: 0 auto;
  font-size: 3rem;
  line-height: 77px;
  text-align: center;
}

.contact2-cards {
  width: 100%;
  display: flex;
  padding: 4rem 0;
  justify-content: space-around;
}

.contact2-card {
  width: 25%;
}

.contact2-card h3 {
  width: 100%;
  font-size: 2rem;
}

.contact2-card p {
  width: 90%;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 1024px) {
  .contact2-main-div h1 {
    font-size: 4rem;
    height: 70px;
    opacity: 20%;
  }

  .contact2-main-div h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .contact2-main-div h1 {
    font-size: 2.5rem;
  }

  .contact2-main-div h2 {
    font-size: 1.5rem;
    height: 50px;
  }

  .contact2-cards {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: start;
  }

  .contact2-card {
    width: 50%;
  }

  .contact2-card h3 {
    font-size: 1.5rem;
  }

  .contact2-card p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .contact2-card {
    width: 100%;
  }

  .contact2-card p {
    font-size: 18px;
    line-height: 1.5rem;
  }
}
