.services-main-div {
  width: 100%;
  background-color: black;
}

.services-main-div h2 {
  width: 100%;
  color: #ffffff;
  font-size: 11rem;
  text-align: center;
  margin: 0;
  padding: 5rem 0;
}

@media (max-width: 1024px) {
  .services-main-div h2 {
    font-size: 9rem;
  }
}

@media (max-width: 768px) {
  .services-main-div h2 {
    font-size: 7rem;
  }
}

@media (max-width: 480px) {
  .services-main-div h2 {
    font-size: 5rem;
  }
}
