.infoHome-main-div {
  width: 100%;
  height: 500px;
  background-image: url(/images/info_home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoHome-logo {
  width: 10%;
  margin: 3rem 2rem;
}

.infoHome-main-div h2 {
  width: 100%;
  color: #ffffff;
  margin: 0 auto;
  font-size: 6vw;
  line-height: 1.2;
  text-align: center;
}

.infoHome-main-div p {
  width: 90%;
  color: #ffffff;
  margin: 1rem auto;
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 1024px) {
  .infoHome-main-div {
    height: 400px;
  }

  .infoHome-logo {
    margin: 4rem 2rem 0 2rem;
  }
}

@media (max-width: 768px) {
  .infoHome-logo {
    margin: 6rem 2rem 0 2rem;
  }

  .infoHome-main-div h2 {
    font-size: 5.5vw;
  }

  .infoHome-main-div p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .infoHome-logo {
    margin: 8rem 2rem 0 2rem;
  }

  .infoHome-logo {
    width: 12%;
  }

  .infoHome-main-div h2 {
    font-size: 7vw;
  }
}
