.startup-main-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.startup-image {
  width: 45%;
}

.startup-image img {
  width: 90%;
}

.startup-para {
  width: 45%;
}

.startup-para p {
  width: 95%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

@media (max-width: 1024px) {
  .startup-para p {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .startup-para p {
    font-size: 18px;
    line-height: 1.25rem;
  }
}

@media (max-width: 480px) {
  .startup-main-div {
    flex-wrap: wrap;
  }

  .startup-image {
    width: 95%;
  }

  .startup-image img {
    width: 100%;
  }

  .startup-para {
    width: 95%;
    margin-top: 1rem;
  }

  .startup-para p {
    width: 100%;
  }
}
