.aboutUs3-main-div {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.mv-cards {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.mv-card {
  width: 48%;
}

.mv-card h5 {
  width: 80%;
  font-size: 1.25rem;
  line-height: 33px;
  text-align: justify;
}

@media (max-width: 1024px) {
  .mv-cards {
    width: 85%;
  }

  .mv-card h5 {
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .mv-cards {
    width: 90%;
  }

  .mv-card h5 {
    width: 80%;
    font-size: 18px;
    line-height: 1.5rem;
  }
}
@media (max-width: 480px) {
  .mv-cards {
    flex-wrap: wrap;
  }

  .mv-card {
    width: 100%;
  }
}
