.aboutUs3-main-div {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.mv-cards {
  width: 85%;
  height: auto;
  display: flex;
  gap: 4rem;
}

.mv-card {
  width: 48%;
  height: auto;
}

.mv-card h5 {
  width: 80%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 33px;
}
