.main-div {
  width: 100%;
  height: 800px;
  background-image: url(/images/home_image.gif);
  background-size: cover;
  background-position: center;
}

.logo-img {
  width: 10%;
  height: auto;
  margin: 3rem 2rem;
}

.phone-img {
  position: absolute;
  width: 5%;
  height: auto;
  padding-top: 600px;
  padding-left: 80%;
}

.whatsapp-img {
  position: absolute;
  width: 5%;
  height: auto;
  padding-top: 700px;
  padding-left: 80%;
}
