.client-main-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
}

.client-main-div h1 {
  width: 100%;
  height: 80px;
  opacity: 10%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  line-height: 150px;
  text-align: center;
}

.client-main-div h2 {
  width: 100%;
  height: 77px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 77px;
  text-align: center;
}

.companies-logo {
  width: 95%;
  height: auto;
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.logos img {
  width: 90%;
}

.logos {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

@media (max-width: 1024px) {
  .client-main-div h1 {
    font-size: 4rem;
    height: 70px;
    opacity: 20%;
  }

  .client-main-div h2 {
    font-size: 2.5rem;
  }

  .logos {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .client-main-div h1 {
    font-size: 2.5rem;
    height: 60px;
  }

  .client-main-div h2 {
    font-size: 1.5rem;
    height: 50px;
  }

  .logos {
    width: 32%;
  }
}

@media (max-width: 540px) {
  .companies-logo {
    width: 90%;
  }

  .logos {
    width: 40%;
  }
}

@media (max-width: 360px) {
  .logos {
    width: 90%;
  }
}
